body{
	margin: 0px;
	/**height: 100vh;**/
	background-image: url("../images/bg-content.gif");
}
.main-content{
	display: flex;
	justify-content: center;
}
.content{
	width: 900px;
	background: white;
}
.last-row p{
	margin-top: 2px;
	margin-bottom: 2px;
}