footer{
	background-color: #0c2635;
}
footer .title, footer .title2{
	color: #456f7f;
}
.info{
	display: flex;
	justify-content: center;
}
.info .container{
	display: flex;
	width: 950px;
	justify-content: space-between;
}
.info h3{
	text-transform: uppercase;
	color: #456f7f;
	font-size: 12px;
}
.Adress{
	color: #456f7f;
}
.Adress p{
	margin: 3px;
}
 .info .footer-icons{
	display: flex;
}
.info .footer-icons div {
	/**width: 40px;**/
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
    padding-bottom: 20px;	
	background: #515c78;
	border-radius: 50%;
	/**display: flex;
	justify-content: center;**/
	margin-left: 11px;
	margin-right: 11px;
}
.info .footer-icons div:hover{
	background: #8296bf;
}
.info .footer-icons div .fa{
	font-size: 30px;
   /** color: #456f7f;**/	
}
.copy-rights{
	display: flex;
	justify-content: center;
}
.copy-rights div{
	color: #456f7f;
	margin-top: 30px;
	margin-bottom: 60px;
}