.content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0;
}
.content1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*margin-right: -50px;*/
}
.content1 h2{
	color: #0c2635;
	font-size: 35px;
}
.content1 .p{
	width: 40%;
	line-height: 35px;
	margin: 0;
}
.content2 {
	display: flex;
	/*margin-left: -100px;*/
}
.widgets{
	display: flex;
	justify-content: center;
	margin-top: -60px;
}
.widget1{
	display: flex;
	background-color: #d3e8f5;
	width: 25%;
	padding: 20px;
}
.widget2, .widget3{
	display: flex;
	background-color: #dcdcdc;
	width: 25%;
	padding: 20px;
}
.widget1 div, .widget2 div, .widget3 div{
	margin-right: 10px;
}
.widget1 a, .widget2 a, .widget3 a{
	text-decoration: none;
	color: grey;
	font-size: 17px;
}