.content{
	display: flex;
	justify-content: center;
}
.content .container{
	display: flex;
	width: 1000px;
	padding-left: -50px;
}
.content1{
	width: 30%;
}
.content1 h2{
	color: #0c2635;
	font-size: 35px;
}
.content1 .p{
	line-height: 35px;
	margin: 0;
}
.content2 {
	display: flex;
	width: 70%;
}
.widgets-container{
	display: flex;
	justify-content: center;
}
.widgets{
	display: flex;
	justify-content: center;
	margin-top: -43px;
	width: 1010px;
}
.widget1{
	display: flex;
	background-color: #d3e8f5;
	padding: 15px;
	padding: 10px;
	/* padding-right: 10px; */
}
.widget2, .widget3{
	display: flex;
	background-color: #dcdcdc;
	padding: 15px;
	padding: 10px;
	/* padding-right: 10px; */
}
.widget1 div, .widget2 div, .widget3 div{
	margin-right: 10px;
}
.widget1 a, .widget2 a, .widget3 a{
	text-decoration: none;
	color: grey;
	font-size: 17px;
}
.blog{
	background-image: url("../images/bg-content.gif");
	display: flex;
	justify-content: center;
}
.blog .container{
	display: flex;
	width: 950px;
	margin-top: 40px;
	margin-bottom: 30px;
}
.column1 h3{
	color: white;
}
.blog .container .column1 p, .blog .container .column2 p{
	color: #aeb4b4;
}
.blog .container .column1 span, .blog .container .column1 a{
	color: #416c80;
}
.blog .column2 {
	background-color: #02354d;
	padding: 20px;
	border-radius: 5px;
}
.blog .column2 .articles{
	display: flex;
}
.blog .column2 .articles .column1{
	padding-right: 10px;
}
.blog .column2 .articles .article2{
	margin-top: -20px;
}
.blog .container .column2 h3{
	color: white;
}
.blog .container .column2 .content1{
	display: flex;
}
.blog .container .column2 .content1 .content1-container1, .blog .container .column2 .content1 .content1-container2{
	/*width: 600px;*/
	
}
.blog .container .column2 .content1 .content1-container1{
	margin-right: 20px;
}
.blog .container .column2 .img img, .blog .container .column2 .img2 img{
	/*width: 100%;*/
}
.blog .container .column2 .img, .blog .container .column2 .img2{
	display: flex;
}
.blog .container .column2 .img h4, .blog .container .column2 .img2 h4{
	color: #fff;
	font-size: 18px;
	padding-left: 10px;
}
.blog .container .column2 .img h4:hover, .blog .container .column2 .img2 h4:hover{
	color: #a1c2d0;
	cursor: pointer;
}
.blog .container .column2 .p {
	/*width: 100%;*/
}
.blog .container .column2 .p p{
	line-height: 25px;
	color: #aeb4b4;
}